
//-Modal Confirm //
.modal-confirm.modal.hide
    div.modal-header
        //-'X' to close //
        button.close(data-dismiss='modal') x
        h3
    div.modal-body
        p
    div.modal-footer
        //-'OK' to dismiss //
        button(data-dismiss="modal").cancel.btn Cancel
        button.submit.btn Ok
