
//-Lost Password Modal //
#get-credentials.modal-single-input.modal.hide
    div.modal-header
        //-'X' to close //
        button.close(data-dismiss='modal') x
        h3 Retrieve Password
    div.modal-body
        form( method="post")#get-credentials-form.well.span5
            p Please enter the email address associated with your account
            //-Input for email, set as required for error checking //
            input(type="text", name="email", id='email-tf').span5.required
            div.center
              button(type="submit")#submit.btn.btn-primary Submit
              button(data-dismiss="modal")#cancel.btn Cancel
              div.alert.alert-error.hide
              button(data-dismiss="alert").close
    div.modal-footer
